<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="HandBrake" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1119" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1307" Action="None" />
  </Rules>
</RuleSet>