# Visual Studio
win/CS/*/bin
win/CS/*/obj
win/CS/*.suo

# Xcode user data
xcuserdata

# Build system
build/
build.*/
download/

# autoconf spam
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
missing
