# Visual Studio
netstandard/*/bin
netstandard/*/obj
win/*/bin
win/*/obj
.vs
*.suo
*.VC.opendb
*.VC.db
netstandard/**/*.Cache
netstandard/**/*.user
netstandard/packages/**/*
win/**/*.Cache
win/**/*.user
win/packages/**/*
applicationhost.config
win/HandBrakeAppX/win32/**/*
win/HandBrakeAppX/bld/**/*
win/HandBrakeAppX/AppPackages/**/*
win/HandBrakeAppX/BundleArtifacts/**/*
*.ide

# Xcode user data
xcuserdata

# Build system
build/
build.*/
download/

# Gtk autoconf spam
gtk/Makefile.in*
gtk/*/Makefile.in*
gtk/aclocal.m4
gtk/autom4te.cache
gtk/compile
gtk/config.*
gtk/configure
gtk/depcomp
gtk/install-sh
gtk/ltmain.sh
gtk/missing

# HB Lib Reference
/netstandard/lib/hb.dll