<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HandBrake.ApplicationServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  <userSettings>

    <HandBrake.ApplicationServices.Properties.Settings>
      <setting name="Verbosity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="X264Step" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="WhenCompleteAction" serializeAs="String">
        <value>Do Nothing</value>
      </setting>
      <setting name="GrowlEncode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GrowlQueue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProcessPriority" serializeAs="String">
        <value>Below Normal</value>
      </setting>
      <setting name="PreventSleep" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCLI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveLogToCopyDirectory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveLogWithVideo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveLogCopyDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="HandBrakeVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="HandBrakeBuild" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InstanceId" serializeAs="String">
        <value />
      </setting>
      <setting name="DisableLibDvdNav" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HandBrakePlatform" serializeAs="String">
        <value />
      </setting>
      <setting name="HandBrakeExeHash" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="SendFileTo" serializeAs="String">
        <value />
      </setting>
      <setting name="SendFileToArgs" serializeAs="String">
        <value />
      </setting>
      <setting name="SendFile" serializeAs="String">
        <value>False</value>
      </setting>
    </HandBrake.ApplicationServices.Properties.Settings>
  </userSettings>
</configuration>
