<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.3" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.0.3" targetFramework="net461" />
  <package id="CoreCompat.System.Drawing" version="1.0.0-beta006" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta001" targetFramework="net461" developmentDependency="true" />
</packages>