<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Handbrake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Handbrake.Properties.Settings>
            <setting name="GuiVersion" serializeAs="String">
                <value>2.4.2</value>
            </setting>
            <setting name="updateFile" serializeAs="String">
                <value>http://download.m0k.org/handbrake/windows/update.txt</value>
            </setting>
            <setting name="processPriority" serializeAs="String">
                <value>Below Normal</value>
            </setting>
            <setting name="Processors" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="defaultSettings" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="updateStatus" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="verbose" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="CliVersion" serializeAs="String">
                <value>0.9.2</value>
            </setting>
            <setting name="GuiDebug" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="defaultError" serializeAs="String">
                <value>Program Error. Please enable debug more in: Tools &gt; Options. If the error re-occurs, please report it on the forums.</value>
            </setting>
            <setting name="tooltipEnable" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="CompletionOption" serializeAs="String">
                <value>Do Nothing</value>
            </setting>
            <setting name="hidePresets" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultUserSettings" serializeAs="String">
                <value />
            </setting>
        </Handbrake.Properties.Settings>
    </userSettings>
</configuration>