<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Handbrake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Handbrake.Properties.Settings>
            <setting name="processPriority" serializeAs="String">
                <value>Below Normal</value>
            </setting>
            <setting name="Processors" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="defaultSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="updateStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hb_version" serializeAs="String">
                <value>{hb_version}</value>
            </setting>
            <setting name="tooltipEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompletionOption" serializeAs="String">
                <value>Do Nothing</value>
            </setting>
            <setting name="defaultPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="hb_build" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skipversion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoNaming" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoNamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="appcast" serializeAs="String">
                <value>http://handbrake.fr/appcast.xml</value>
            </setting>
            <setting name="appcast_unstable" serializeAs="String">
                <value>http://handbrake.fr/appcast_unstable.xml</value>
            </setting>
            <setting name="drive_detection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cli_minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoNameFormat" serializeAs="String">
                <value>{source}-{title}</value>
            </setting>
            <setting name="saveLogToSpecifiedPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="saveLogWithVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VLC_Path" serializeAs="String">
                <value>C:\Program Files\VideoLAN\vlc\vlc.exe</value>
            </setting>
            <setting name="MainWindowMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueryEditorTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="x264cqstep" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="verboseLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dvdnav" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="presetNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enocdeStatusInGui" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trayIconAlerts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastUpdateCheckDate" serializeAs="String">
                <value />
            </setting>
            <setting name="daysBetweenUpdateCheck" serializeAs="String">
                <value>5</value>
            </setting>
        </Handbrake.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
