<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Handbrake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Handbrake.Properties.Settings>
            <setting name="processPriority" serializeAs="String">
                <value>Below Normal</value>
            </setting>
            <setting name="Processors" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="defaultSettings" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="updateStatus" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="hb_version" serializeAs="String">
                <value>0.9.1</value>
            </setting>
            <setting name="tooltipEnable" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="CompletionOption" serializeAs="String">
                <value>Do Nothing</value>
            </setting>
            <setting name="defaultUserSettings" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="hb_build" serializeAs="String">
                <value>1144</value>
            </setting>
            <setting name="skipversion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="updatePresets" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="autoNaming" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="autoNamePath" serializeAs="String">
                <value />
            </setting>
        </Handbrake.Properties.Settings>
    </userSettings>
</configuration>