<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Handbrake.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Handbrake.My.MySettings>
            <setting name="StartupUpdate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HandbrakeGUIVersion" serializeAs="String">
                <value>2.3</value>
            </setting>
            <setting name="HandbrakeCLIVersion" serializeAs="String">
                <value>0.8.5b1</value>
            </setting>
            <setting name="VideoEncoder" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioEncoder" serializeAs="String">
                <value />
            </setting>
            <setting name="Width" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value />
            </setting>
            <setting name="CroppingOption" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoBitrate" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoFilesize" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoQuality" serializeAs="String">
                <value />
            </setting>
            <setting name="Framerate" serializeAs="String">
                <value />
            </setting>
            <setting name="TwoPass" serializeAs="String">
                <value />
            </setting>
            <setting name="DeInterlace" serializeAs="String">
                <value />
            </setting>
            <setting name="Grayscale" serializeAs="String">
                <value />
            </setting>
            <setting name="PixelRatio" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioBitrate" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioSampleRate" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioChannels" serializeAs="String">
                <value />
            </setting>
            <setting name="FiveChanAudio" serializeAs="String">
                <value />
            </setting>
            <setting name="CRF" serializeAs="String">
                <value />
            </setting>
            <setting name="H264" serializeAs="String">
                <value />
            </setting>
            <setting name="DVDSource" serializeAs="String">
                <value />
            </setting>
            <setting name="ChapterStart" serializeAs="String">
                <value />
            </setting>
            <setting name="DVDTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoDest" serializeAs="String">
                <value />
            </setting>
            <setting name="Processors" serializeAs="String">
                <value />
            </setting>
            <setting name="Subtitles" serializeAs="String">
                <value />
            </setting>
            <setting name="UseUsersDefaultSettings" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CropTop" serializeAs="String">
                <value />
            </setting>
            <setting name="CropBottom" serializeAs="String">
                <value />
            </setting>
            <setting name="CropLeft" serializeAs="String">
                <value />
            </setting>
            <setting name="CropRight" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadDVDatStartup" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChapterFinish" serializeAs="String">
                <value />
            </setting>
        </Handbrake.My.MySettings>
    </userSettings>
</configuration>
