<?xml version="1.0" encoding="UTF-8"?>

<!--
// <copyright project="HandBrake.Installer" team="HandBrake Project (http://handbrake.fr)">
//   This file is part of the HandBrake source code - It may be used under the terms of the MIT License.
//   This project is NOT included under the HandBrake applications GPLv2 license. 
// </copyright>
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?if $(var.Configuration)=Debug ?>
    <?define msiProductId = "fd19ef0e-77c4-47a6-b1e4-4cea0b3a4c94" ?>
    <?define productName = "HandBrake Nightly" ?>
    <?define installDir = "Nightly" ?>
    <?define ToastActivatorCLSID = "" ?>
    <?define packagePath = "..\HandBrakeWPF\bin\publish" ?>
  <?else ?>
    <?define msiProductId = "fd19ef0e-77c4-47a6-b1e4-4cea0b3a4c93" ?>
    <?define productName = "HandBrake" ?>
    <?define installDir = "HandBrake" ?>
    <?define ToastActivatorCLSID = "" ?>
    <?define packagePath = "..\HandBrakeWPF\bin\publish" ?>
  <?endif ?>

  <Product Id="$(var.msiProductId)" Name="$(var.productName)" Language="1033" Version="1.6.1.0" Manufacturer="HandBrake Team" UpgradeCode="$(var.msiProductId)">
    <Package InstallerVersion="200" Platform="x64" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

    <Icon Id="ProductIcon" SourceFile="..\HandBrakeWPF\handbrakepineapple.ico"/>

    <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
    <Property Id="ARPHELPLINK" Value="https://www.handbrake.fr/docs"/>
    <Property Id="ARPURLINFOABOUT" Value="https://www.handbrake.fr"/>
    <Property Id="ARPNOREPAIR" Value="1"/>
    <Property Id="WIXUI_INSTALLDIR" Value="APPDIR" />

    <UIRef Id="WixUI_InstallDir" />

    <WixVariable Id="WixUILicenseRtf" Value="assets\COPYING.rtf" />

    <WixVariable Id="WixUIBannerBmp" Value="gfx\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="gfx\dialog.bmp" />
    <WixVariable Id="WixUIInfoIco" Value="..\HandBrakeWPF\handbrakepineapple.ico" />
    <WixVariable Id="WixUIUpIco" Value="..\HandBrakeWPF\handbrakepineapple.ico" />
    <WixVariable Id="WixUINewIco" Value="..\HandBrakeWPF\handbrakepineapple.ico" />

    <!-- System Requirement Checks -->
    <Property Id="WINDOWSBUILDNUMBER" Secure="yes">
	    <RegistrySearch Id="BuildNumberSearch" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="CurrentBuildNumber" Type="raw" />
    </Property>
    <Condition Message="HandBrake is only supported on Windows 10 version 1909 (build 18363) or higher.">
	    <![CDATA[(WINDOWSBUILDNUMBER >= 18363)]]>
    </Condition>
    
    <!-- Install Files -->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="HandBrakeTeam">
          <Directory Id="APPDIR" Name="$(var.installDir)">

            <Component Win64="yes" Id="ApplicationFiles" Guid="cbae29e7-6d39-49bb-8c76-0305c3d42181">
              <!-- Core Application -->
              <File Source="$(var.packagePath)\HandBrake.exe" />
              <File Source="$(var.packagePath)\HandBrake.Worker.exe" />
              <File Source="$(var.packagePath)\hb.dll"/>
              <File Source="$(var.packagePath)\portable.ini.template"/>
            </Component>

          </Directory>
        </Directory>

        <Directory Id="ProgramMenuFolder">
          <Directory Id="DIR_Shortcuts" Name="$(var.productName)" />
        </Directory>

      </Directory>
    </Directory>

    <!-- Shortcuts -->
    <DirectoryRef Id="DIR_Shortcuts">
      <Component Id="AppShortcuts" Win64="yes">

        <!-- Shortcuts for the shell -->
        <Shortcut Id="SCUT_Shortcuts_Shell" Name="$(var.productName)" Target="[#HandBrake.exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY">
          <!--AUMID-->
          <ShortcutProperty Key="System.AppUserModel.ID" Value="HandBrakeTeam.$(var.productName)"/>
          <!--COM CLSID-->
          <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{cbae29e7-6d39-49bb-8c76-0305c3d42181}"/>
        </Shortcut>

        <!-- Uninstall shortcut -->
        <Shortcut Id="SCUT_Shortcuts_Uninstall" Name="Uninstall $(var.productName)" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="REMOVE_Shortcuts" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\HandBakeTeam\$(var.installDir)" Name="installedShortcut" Type="integer" Value="1" KeyPath="yes" />

      </Component>
    </DirectoryRef>

    <!-- Installer Feature Set -->
    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="ApplicationFiles"/>
      <ComponentRef Id="AppShortcuts"/>
    </Feature>

  </Product>
</Wix>