<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HandBrake.ApplicationServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HandBrake.ApplicationServices.Properties.Settings>
            <setting name="disableDvdNav" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveLogWithVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="saveLogToSpecifiedPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="growlQueue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompletionOption" serializeAs="String">
                <value />
            </setting>
            <setting name="processPriority" serializeAs="String">
                <value />
            </setting>
            <setting name="cli_minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showCliForInGuiEncodeStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enocdeStatusInGui" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="growlEncode" serializeAs="String">
                <value>False</value>
            </setting>
        </HandBrake.ApplicationServices.Properties.Settings>
    </userSettings>
</configuration>