name: Build For CentOS

on: [push, pull_request]

jobs:
  build:
    name: Build For CentOS on Ubuntu
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - name: Build HandBrake Linux
      run: |
        cd .github/workflows/
        docker build . -t hb
        docker run -v `pwd`/../../build_hb:/build_hb hb
        cd ../../
        sudo gzip build_hb/HandBrake/build/HandBrakeCLI
        curl -F'file=@build_hb/HandBrake/build/HandBrakeCLI.gz' https://0x0.st

    - name: Upload HandBrakeCLI
      uses: actions/upload-artifact@v3
      with:
        name: HandBrakeCLI
        path: ./build_hb/HandBrake/build/HandBrakeCLI.gz
